body {
	background-color: black;
	padding: 0px;
	border-collapse: collapse;
	margin: 0;
	overflow: hidden;
}

canvas {
	left: 0;
	right: 0;
	width: 1100%;
	height: 100%;
	position: relative;
}
.canvasDiv {
	position: relative;
	width: 70vw;
	height: 51.6vw;
	top: calc(50vh - 25.8vw);
	left: 15vw;
	background-color: black;
}
@media only screen and (min-width: 150vh) {
	.canvasDiv {
		position: relative;
		width: 108.54vh;
		height: 80vh;
		top: 10vh;
		left: calc(50vw - 54.27vh);
		background-color: black;
	}
}