body {
	background-color: black;
	padding: 0px;
	border-collapse: collapse;
	margin: 0;
	overflow: hidden;
}

.controlQ {
	z-index: 12;
	position: absolute;
	background-color: none;
	background-image: url("shelvesIMG/qIcon2.png");
	background-size: 100% 100%;
	height: 20px;
	width: 20px;
	left: 25px;
	cursor: pointer;
}
.controlQ:hover {
	background-image: url("shelvesIMG/qIcon3.png");
}

.controlXText {
	z-index: 12;
	position: absolute;
	background-color: black;
	text-align: left;
	color: white;
	height: 106px;
	width: 280px;
	padding: 0px;
	left: 0px;
	top: 23px;
	font-family: georgia;
	cursor: default;
}

.controlX {
	position: relative;
	background-color: darkred;
	text-align: center;
	color: white;
	height: 20px;
	width: 20px;
	padding: 0px;
	font-family: arial;
	cursor: pointer;
}

.controlX:hover {
	background-color: red;
}

.fs {
	position: fixed;
	background-color: none;
	background-image: url("shelvesIMG/fsIcon1.png");
	background-size: 100% 100%;
	height: 20px;
	width: 20px;
	cursor: pointer;
	z-index: 10;
}

.fs:hover {
	background-image: url("shelvesIMG/fsIcon2.png");
	background-color: dimgray;
}

.top {
	position: fixed;
	background-color: black;
	height: 25px;
	width: 100vw;
	top: 0px;
	z-index: 8;
}

.bottom {
	position: fixed;
	background-color: black;
	height: 25px;
	width: 100vw;
	bottom: 0px;
	z-index: 8;
}

.custom-hotspot {
	height: 30px;
	width: 50px;
	background: none;
}
div.custom-tooltip span {
	visibility: visible;
	position: absolute;
	background-color: black;
	color: white;
	text-align: center;
	cursor: pointer;
	width: 140%;
	height: 80%;
	top: 36px;
	font-family: georgia;
}
div.custom-tooltip:hover span {
	font-weight: bold;
}

.customhotspot2 {
	height: 20px;
	width: 32px;
	background: none;
}
div.custom-tooltip2 span {
	visibility: visible;
	position: absolute;
	background-color: none;
	background-image: url("shelvesIMG/eye4.png");
	background-size: 100% 100%;
	cursor: pointer;
	width: 165%;
	height: 104%;
	top: 33px;
}
div.custom-tooltip2:hover span {
	background-image: url("shelvesIMG/eye7.png");
}
